<header class="header">

  <div class="header__logo">
    <a href="#home"><img src="img/logo-amcode.jpeg" alt="Logo"/></a>
  </div>

  <nav class="header__nav1">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="tools_trail.html">Tools Trail</a></li>
    </ul>
  </nav>

  <nav class="header__nav">
    <ul class="social-links">
      <li>
        <a href="mailto:denihiv@gmail.com">
          <img src="img/blue-mail-arrow.png" alt="home" />
        </a>
      </li>
      <li>
        <a href="https://github.com/AM-AlmeidaR"
        target="_blank"
        rel="noopener noreferrer">
          <img src="img/github-icon.svg" alt="GitHub" />
        </a>
      </li>
      <li>
        <a href="https://wa.me/34664670342" 
        target="_blank"
        rel="noopener noreferrer">
          <img class="whatsapp" src="img/whatsapp-icon.png" alt="WhatsApp" />
        </a>
      </li>
    </ul>
  </nav>
</header>
