@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.bottom__hero {
    margin-left: auto;
    margin-right: auto;
    background-color: #FDFDEB;
    color: #2d2d2d;
    font-family: $font;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.breakpoint(tablet) {
        margin-top: -1px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @include mixins.breakpoint(desktop) {
        padding-left: 150px;
        padding-right: 150px;
    }

    h2 {
        padding: 10px;
        border-bottom: 2px solid $dark-grey;

        @include mixins.breakpoint(tablet) {
            font-size: 35px;
        }

        @include mixins.breakpoint(desktop) {
            padding-left: 200px;
            padding-right: 200px;
            font-size: 45px;
        }
    }

    &__list {
        display: grid;
        justify-items: center;
        position: relative;
        max-width: 400px;

        @include mixins.breakpoint(tablet) {
           
            gap: 20px;
            max-width: 800px;
        }
        
        @include mixins.breakpoint(desktop) {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            max-width: 1200px;
        }
        
        .item1, 
        .item2, 
        .item3, 
        .item4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;

            @include mixins.breakpoint(tablet) {
                max-width: 600px;
            }

            @include mixins.breakpoint(desktop) {
                max-width: 800px;
            }

            img {
                width: 100%;
                height: auto;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 5);
                padding: 10px;
            }

            p {
                font-family: $font;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.5;
                color: $dark-grey;
                margin-top: 10px;
                text-align: center;
            }

            h3 {
                padding: 10px;

                @include mixins.breakpoint(tablet) {
                    font-size: 24px;
                }
            }
        }
    }
}


