@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.footer {
    margin-right: auto;
    margin-left: auto;
    background-color: beige;
    margin: 0;
    color: $dark-grey;
    overflow: hidden;
    font-family: $font;
    margin-top: -41px;
    @include mixins.breakpoint(desktop) {
        padding-left: 165px;
        padding-right: 165px;
    }
    
        &__main {
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            

            &__container {
                @include mixins.breakpoint(desktop) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 130px;
                gap: 40px;
                }

                &__text {
                    text-align: center;
                    padding-top: 40px;
                    padding-bottom: 50px;
                    @include mixins.breakpoint(desktop) {
                        width: 50%;             
                    }


                    h3 {
                        font-size: 40px;
                        font-weight: 700;
                        letter-spacing: -1.14px;

                        @include mixins.breakpoint(tablet) {
                            font-size: 72px;
                            letter-spacing: -2.05px;
                        }

                        @include mixins.breakpoint(desktop) {
                            text-align: left;
                            font-size: 88px;
                            font-weight: 700;
                            letter-spacing: -2.5px;
                        }
                    }

                    p {
                        color: $dark-grey;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 400px;

                        @include mixins.breakpoint(desktop) {
                            text-align: left;
                            margin-left: 0;
                            font-size: 18px;
                            max-width: 435px;
                        }
                    }
                }

                &__form {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;

                    @include mixins.breakpoint(desktop) {
                        width: 50%;  
                        margin-top: 110px;           
                    }

                    .form__group {
                        position: relative;
                        margin-bottom: 24px;
            
                        input,
                        textarea {
                            width: 100%;
                            padding: 15px 0;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid $green;
                            color: $dark-grey;
                            font-size: 16px;
                            outline: none;
            
                            &:focus+label,
                            &:not(:placeholder-shown)+label {
                                transform: translateY(-24px);
                                font-size: 12px;
                                color: $dark-grey;
                            }
            
                            &:valid {
                                border-bottom: 1px solid $dark-grey;
                            }
            
                            &:invalid:not(:focus):not(:placeholder-shown) {
                                border-bottom: 1px solid red;
                            }
            
                            &:invalid:not(:focus):not(:placeholder-shown)~.form__error,
                            &:invalid:not(:focus):not(:placeholder-shown)~.form__icon {
                                opacity: 1;
                                pointer-events: auto;
                            }
                        }

                        textarea:last-of-type {
                            height: 100px;
                        }
            
                        label {
                            position: absolute;
                            top: 8px;
                            left: 0;
                            color: $dark-grey;
                            pointer-events: none;
                            transition: all 0.2s ease;
                            resize: none;
                        }
            
                        .form__error {
                            color: red;
                            font-size: 14px;
                            position: absolute;
                            right: 0;
                            bottom: -20px;
                            opacity: 0;
                            transition: opacity 0.2s;
                        }
            
                        .form__icon {
                            position: absolute;
                            right: 0;
                            top: 12px;
                            height: 20px;
                            opacity: 0;
                            transition: opacity 0.2s;
                        }
                    }

                    .form__submit {
                        list-style: none;
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 40px;
                    
                        .send {
                            position: relative;
                            display: inline-block;
                            text-decoration: none;
                            color: $dark-grey;
                            border-bottom: 1px solid $green;
                            padding-bottom: 10px;
                        }  
                        
                        .send:hover {
                            color: $green;
                            border-bottom: 1px solid $dark-grey;
                        }
                    }
                }
            }

            &__line {
                width: 100%;
                height: 3px;
                background-color: $green;
                padding-left: 16px;
                padding-right: 16px;
                margin-top: 50px;
                @include mixins.breakpoint(tablet) {
                    margin: 50px auto 35px auto;
                }

                @include mixins.breakpoint(desktop) {
                    margin-bottom: 35px;
                }
            }

        &__media {
            margin-left: auto;
            margin-right: auto;
            max-width: 300px;
            padding-bottom: 30px;
            @include mixins.breakpoint(tablet) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 30px;
                    padding-right: 30px;   
                    padding-bottom: 35px; 
                    gap: 50px;   
                }

            figure {
                width: 300px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 20px;
                z-index: 2;
                @include mixins.breakpoint(tablet) {
                    margin-left: 0;
                }

                img {
                    width: 100%;
                    height: auto;   
                }

                .footer__main__media__caption {
                    display: none;   
                }
            }

            &__text {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                @include mixins.breakpoint(tablet) {
                    width: 100%;
                    text-align: left;
                    padding-left: 30px;
                    padding-right: 30px;   
                }

                p {
                    font-size: 14px;
                    color: $dark-grey;
                    margin-bottom: 10px;

                    @include mixins.breakpoint(tablet) {
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                }
            }

            &__nav {
                width: 155px;
                margin-left: auto;
                margin-right: auto;
                @include mixins.breakpoint(tablet) {
                    margin-right: 0;
                }
                
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    gap: 15px;
                    margin: 0 auto;
                    padding-left: 5px;
                    margin-left: -20px;
                    z-index: 2;       
                }
            }
        }
    }
}

.img {
    position: absolute;
    right: 50%;
    bottom: 255px;
    z-index: 1;

    @include mixins.breakpoint(tablet) {
        right: 100%;
        bottom: 10px;
    }

    @include mixins.breakpoint(desktop) {
        right: 84%;
        bottom: 200px;
    }
}
