@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.header {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
    

    &__nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 15px;

        &__logo {
            width: 300px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            z-index: 2;

            img {
                width: 100%;
                height: auto;
                transition: transform 0.3s ease-in-out;
                clip-path: ellipse(50% 50% at 50% 50%);
                &:hover {
                    transform: scale(1.1);
                }
                
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 15px;
            margin: 0 auto;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto;
            padding-right: 20px;
            padding-bottom: 20px;
            z-index: 2;
            text-decoration: none;

            li {
                font-size: 1.2rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                img {
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}