@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.header {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    padding: 20px;

    @include mixins.breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
        width: 250px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        z-index: 2;

        @include mixins.breakpoint(tablet) {
            width: 400px;
            padding-left: 25px;
        }

        @include mixins.breakpoint(desktop) {
            padding-left: 135px;
        }

        img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease-in-out;
            box-shadow: 4px 4px 8px rgb(0, 0, 0);
            //clip-path: ellipse(50% 50% at 50% 50%);
            &:hover {
                transform: scale(1.1);
            }     
        }
    }

    &__nav1 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;

        @include mixins.breakpoint(tablet) {
            padding-left: inherit;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 20px;

            @include mixins.breakpoint(tablet) {
                padding-left: 60px;
            }

            li {
                font-size: 1.2rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                padding-bottom: 20px;
                text-decoration: underline;

                &:hover {
                    transform: scale(1.2);
                    color: $green;
                }

                a {
                    text-decoration: none;
                    color: #333;
                    font-family: $font;

                    
                }
            }
        }
    }

    &__nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 15px;

        @include mixins.breakpoint(tablet) {
            flex-direction: row;
        }
        
        @include mixins.breakpoint(desktop) {
            width: 90%;
            padding-right: 0px;
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 15px;
            margin: 0 auto;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto;
            padding-right: 20px;
            padding-bottom: 0;
            z-index: 2;
            text-decoration: none;

            @include mixins.breakpoint(tablet) {
                gap: 40px;
            }

            li {
                font-size: 1.2rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                img {
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}