@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.hero__tools {
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    color: $dark-grey;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    margin-top: -1px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font;
}

.hero__explanation {
    width: 100%;
    height: auto;
    background-color: beige;
    color: $dark-grey;
    overflow: hidden;
    position: relative;
    margin-top: -1px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        width: 100%;
        margin-bottom: 10px;

        h5 {
            text-decoration: underline;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: $dark-grey;
            margin: 0;
            padding-bottom: 10px;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin-bottom: 20px;
        
        img {
            width: 100%;
            height: auto;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 5);
            padding: 10px;
        }
    }
}
