@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.hero__tools {
    margin-left: auto;
    margin-right: auto;
    background-color: #FDFDEB;
    color: $dark-grey;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    margin-top: -1px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font;
}


