@use '../abstracts/abstracts' as *;
@use '../base/reset' as rs;
@use '../abstracts/mixins' as mixins;

.hero {
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
    color: $dark-grey;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    margin-top: -1px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font;

    @include mixins.breakpoint(tablet) {
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include mixins.breakpoint(desktop) {
        padding-left: 150px;
        padding-right: 150px;
    }

    &__title__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        @include mixins.breakpoint(tablet) {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__title__square {
        width: 100px;
        height: 100px;
        border: 3px solid red; // Solo bordes
        transform: rotate(35deg); // Inclinación
        position: absolute; // Para colocarlo como fondo
        top: 55px;
        right: -15px;

        @include mixins.breakpoint(tablet) {
            display: none;
        }

        

        &>img {
            display: none;

            @include mixins.breakpoint(tablet) {
                display: flex;
                width: 100px;
                height: 100px;
            }
        }
    }
        
    &__title__img {
            display: none;
            @include mixins.breakpoint(tablet) {
                display: flex;
                max-width: 254px;
                max-height: 254px;
                box-shadow: 12px 7px 10px 0px rgba(0, 0, 0, 0.5);
                margin-right: 50px;
            }
        }

    h1 {
        color: #2d2d2d;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.2;
        z-index: 2;

        @include mixins.breakpoint(tablet) {
            font-size: 3.5rem;
        }
    }

    span {
        display: block;
    }

    h2 {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.2;
        color: $dark-grey;
        margin-top: 10px;
        z-index: 2;

        @include mixins.breakpoint(tablet) {
            font-size: 2.2rem;
            padding-bottom: 30px;
        }
    }

    &__title__square-2 {
        display: none;
        
        @include mixins.breakpoint(tablet) {
            width: 100px;
            height: 100px;
            display: flex;
            position: absolute; // Para colocarlo como fondo
            top: 6vh;
            right: 35%;
        }

        @include mixins.breakpoint(desktop) {
            width: 150px;
            height: 150px;
            
        }
    }
    /*a {
        text-decoration: none;
        color: $green;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 3px;
        transition: color 0.4s ease-in-out;
        border-bottom: 3px solid $green;
        display: flex;
        justify-content: flex-end;
        margin: 20px;
        padding-bottom: 10px;
        text-shadow: 1px 1px 2px rgb(21, 21, 21), -1px -1px 2px rgb(21, 21, 21), 1px -1px 2px rgb(21, 21, 21), -1px 1px 2px rgb(21, 21, 21);
        z-index: 2;

        &:hover {
            color: $dark-grey;
            border-bottom: 2px solid $dark-grey;
            letter-spacing: 5px;
            transform: scale(1.1);
        }
    }*/

    &__about {
        width: 100%;
        height: auto;
        background-color: #EEEEEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin-top: -1px;
        z-index: 2;

        .tilted-square {
            width: 170px;
            height: 170px;
            border: 5px solid $green; // Solo bordes
            transform: rotate(60deg); // Inclinación
            position: absolute; // Para colocarlo como fondo
            top: 1135px;
            left: 50px;
            z-index: 1; // Por detrás del contenido

            @include mixins.breakpoint(tablet) {
                left: 50%;
                top: 1120px;
                border: none;
                transform: none;
            }

            @include mixins.breakpoint(desktop) {
                top: 700px;
                left:auto;
            }

            &>img {
                display: none;

                @include mixins.breakpoint(tablet) {
                    display: flex;
                    width: 170px;
                    height: 170px;
                }
            }
        }

        .tilted-square2 {
            width: 150px;
            height: 150px;
            border: 7px solid darkorange; // Solo bordes
            transform: rotate(40deg); // Inclinación
            position: absolute; // Para colocarlo como fondo
            top: 1230px;
            left: 80px;
            z-index: 1; // Por detrás del contenido

            @include mixins.breakpoint(tablet) {
                left: 50px;
                top: 1200px;
                border: none;   // no muestra el borde del cuadrado
                transform: none;
            }

            @include mixins.breakpoint(desktop) {
                top: 825px;
            }

            &>img {
                display: none;

                @include mixins.breakpoint(tablet) {
                    display: flex;
                    width: 150px;
                    height: 150px;
                }
            }
        }

        h2 {
            font-size: 45px;
            color: $dark-grey;
            margin-bottom: 30px;
            font-family: $font;
            border-bottom: 2px solid $dark-grey;
            z-index: 4;

            @include mixins.breakpoint(desktop) {
                padding: 0 20px 10px 20px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            z-index: 2;

            @include mixins.breakpoint(tablet) {
                display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                        "item1 item2"
                        "item3 item4"
                        "item5 item6";
                    gap: 10px;
                    text-align: left;
                    padding-left: 32px;
                    padding-right: 32px;
            }

            @include mixins.breakpoint(desktop) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "item1 item2 item3"
                    "item4 item5 item6";
            
                gap: 30px;
                text-align: left;
                padding-left: 132px;
                padding-right: 132px;
            }

            li {
                font-family: $font;
                font-weight: 500;
                font-size: 2.2rem;
                color: $dark-grey;
                line-height: 1.5;
                /*text-shadow: 1px 1px 2px rgb(21, 21, 21), -1px -1px 2px rgb(21, 21, 21), 1px -1px 2px rgb(21, 21, 21), -1px 1px 2px rgb(21, 21, 21);*/
                transition: color 0.3s ease-in-out;
                z-index: 5;
                &:hover {
                    color: $green;
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

        .tilted-square3 {
            width: 120px;
            height: 120px;
            border: 5px solid gold; // Solo bordes
            transform: rotate(10deg); // Inclinación
            position: absolute; // Para colocarlo como fondo
            top: 1300px;
            left: 200px;
            z-index: 1; // Por detrás del contenido

            @include mixins.breakpoint(tablet) {
                top: 800px;
                left: 110px;
                border: none;
                width: 120px;
                height: 120px;
            }

            @include mixins.breakpoint(desktop) {
                top: 560px;
                left: clamp(30px, (100vw - 1200px) * 0.3, 200px);
            }

            &>img {
                display: none;

                @include mixins.breakpoint(tablet) {
                    display: flex;
                    width: 120px;
                    height: 120px;
                }

                @include mixins.breakpoint(tablet) {
                    width: 150px;
                    height: 150px;
                }
            }
        }

        .tilted-square4 {
            width: 130px;
            height: 130px;
            border: 5px solid rgb(135, 206, 250); // Solo bordes
            transform: rotate(30deg); // Inclinación
            position: absolute; // Para colocarlo como fondo
            top: 1250px;
            right: 150px;
            z-index: 1; // Por detrás del contenido

            @include mixins.breakpoint(tablet) {
                top: 1150px;
                right: 50px;
                border: none;
            }

            @include mixins.breakpoint(desktop) {
                top: 880px;
            }

            &:hover {
                @include mixins.breakpoint(tablet) {
                border: none;
                }
            }

            &>img {
                display: none;

                @include mixins.breakpoint(tablet) {
                    display: flex;
                    width: 130px;
                    height: 130px;
                }
            }
        }

        .tilted-square5 {
            width: 180px;
            height: 90px;
            border: 5px solid rgb(93, 87, 59); // Solo bordes
            transform: rotate(50deg); // Inclinación
            position: absolute; // Para colocarlo como fondo
            top: 1160px;
            right: 200px;
            z-index: 1; // Por detrás del contenido

            @include mixins.breakpoint(tablet) {
                top: 800px;
                right: 55px;
                border: none;
                width:125px;
            }

            @include mixins.breakpoint(desktop) {
                top: 560px;
                right: clamp(0px, (100vw - 1200px) * 0.3, 200px);
            }

            &>img {
                display: none;

                @include mixins.breakpoint(tablet) {
                    display: flex;
                    width: 150px;
                    height: 150px;
                }
            }
        }

        &__contact {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 0px;

            a {
                width: 100%;
                text-decoration: none;
                color: $green;
                font-family: $font;
                font-weight: 600;
                font-size: 1.2rem;
                letter-spacing: 2px;
                transition: color 0.4s ease-in-out;
                border-bottom: 3px solid $green;
                display: flex;
                justify-content: flex-end;
                margin: 20px;
                padding-bottom: 10px;
                /*text-shadow: 1px 1px 2px rgb(21, 21, 21), -1px -1px 2px rgb(21, 21, 21), 1px -1px 2px rgb(21, 21, 21), -1px 1px 2px rgb(21, 21, 21);*/
                z-index: 2;
                padding-right: 45px;
                
                &:hover {
                    color: $dark-grey;
                    border-bottom: 2px solid $dark-grey;
                    letter-spacing: 5px;
                    transform: scale(1.05);
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @include mixins.breakpoint(desktop) {
                    flex-direction: row;
                    gap: 100px;
                }

            &--1, &--2 {                
                max-width: 400px;
                text-align: left;
                background-color: white;
                border-top-right-radius: 25px;
                border-bottom-left-radius: 25px;
                padding: 20px;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 5);
                margin-top: 10px;
                margin-bottom: 35px;
                transition: color 0.4s ease-in-out;
                z-index: 2; 
            }

            p {
                font-family: $font;
                font-weight: 500;
                font-size: 19px;
                line-height: 1.5;
                color: $dark-grey;
                margin-bottom: 20px;
            }
        }
    }
}   
