@use '../abstracts/abstracts' as *;

html * {
    font-family: $font;
    box-sizing: border-box;
    background-color: #EEEEEE;
}
 
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    background: #FAF8F5;
        
} 
